//Color Palette
$yellow: #d9c66a;
$pink: #d97398;
$black: #0d0d0d;
$white: #ffffff;
$grey: #c4c4c4;
$light-grey: #c4c4c46b;

//Font Sizes
$sm-text: 8px;
$md-text: 14px;
$xl-text: 25px;

//Media Query sizes
$extra-sm-query: 320px;
$sm-query: 480px;
$md-query: 900px;
$xl-query: 1200px;
$extra-xl-query: 1600px;
