//Color Palette 
$yellow: #D9C66A;
$pink: #D97398;
$black: #000000;
$white: #ffffff;

//Font Sizes
$sm-text: 8px; 
$md-text: 14px; 
$xl-text: 25px; 

//Media Query sizes
$extra-sm-query: 320px; 
$sm-query: 480px; 
$md-query: 900px; 
$xl-query: 1200px; 
$extra-xl-query: 1600px; 

