@import "../../base/variables";
@import "../../base/queries";
@import "../../components/typography";
@import "../../base/fonts";

.waitlist {
  margin-bottom: 1.5em;

  &-options {
    margin-bottom: 1.5em;
    display: flex;
    form {
      select {
        background: $grey;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 0.25em;
        font-family: "ibm_plex_bold";
        option {
          font-family: "ibm_plex_light";
          background: $grey;
        }
      }

      label {
        input[type="text"] {
          border-radius: 5px;
          border: 1px solid black;
          font-family: "ibm_plex_light";
          margin: 0 0.5em;
          padding: 0.5em;
        }
      }

      button {
        background: $pink;
        border-radius: 5px;
        padding: 0.5em 2em;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-family: "ibm_plex_bold";
        text-align: center;
        color: $black;
      }
    }
    a {
      margin-right: 2em;
    }
  }

  &-table {
  }
}
