<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if Coherence.current_user(@conn) do %>
    <%= tag :meta, name: "user_token", content: Phoenix.Token.sign(@conn, "user", Coherence.current_user(@conn).id) %>
    <% end %>

    <title>Hello Metro!</title>


   <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
   <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="wrapper">
     <%= render_shared "navbar.html", assigns %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <footer class="footer">
          <div class="row contact">
              <div class="column contact-text">
                  <h3 class="white-header-text">Phoenix Library | Contact</h3>
                  <h4>Tell us what you need!</h4>
              </div>
              <div class="column contact-input">
                <div class="row">
                    <input type="email" name="subscribe" id="subscribe" placeholder="JohnDoe@gmail.com">
                    <button class="btn__subscribe">Subscribe</button>
                </div>
              </div>
          </div>
          <div class="row copyright">
            <h6>Phoenix Library Copyright 2019</h6>
          </div>
      </footer>
    </div> <!-- /container -->
    <script> window.userId =  "<%= @conn.assigns[:user_id] %>" </script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      const menuToggle = document.querySelector('.navbar__toggle');
      const hamburger = document.querySelector('.navbar__toggle-hamburger');
      const header = document.querySelector('header');
      const logo = document.querySelector('.navbar__logo');
      const nav = document.querySelector('.navbar__elements');
      menuToggle.onclick = () => {
        nav.classList.toggle('navbar__elements__open');       
        hamburger.classList.toggle('navbar__toggle__open');
        header.classList.toggle('navbar__open');
        logo.classList.toggle('navbar__logo__open');
      }

      const dropdownHead = document.querySelector('.navbar__elements-list-item__dropdown-toggle');
      const dropdownBody = document.querySelector('.navbar__elements-list-item__dropdown-menu');
      const dropdownLink = document.querySelector('.navbar__elements-list-item__dropdown-menu-item');
      dropdownHead.onclick = () => {
        dropdownBody.classList.toggle('navbar__elements-list-item__dropdown-menu__open');
        notificationsBody.classList.remove('notifications-dropdown__open');
      }

      dropdownLink.onclick = () => {
        dropdownBody.classList.remove('navbar__elements-list-item__dropdown-menu__open');
      }

      const notifications = document.querySelector('.notifications-head');
      const notificationsBody = document.querySelector('.notifications-dropdown');
      const notification = document.querySelector('.notifications-dropdown__list-item');
      const notificationCount = document.querySelector('.notifications-head__count');
      
      notifications.onclick = () => {
        notificationsBody.classList.toggle('notifications-dropdown__open');
        dropdownBody.classList.remove('navbar__elements-list-item__dropdown-menu__open');
      }

      notification.onclick = () => {
        notificationBody.classList.remove('open-dropdown');
      }

      $(document).ready(function () {

            // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
            $('#noti_Counter')
                .css({ opacity: 0 })
                .css({ top: '-10px' })
                .animate({ top: '-2px', opacity: 1 }, 500);

            $('#noti_Button').click(function () {

                // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
                $('#notifications').fadeToggle('fast', 'linear', function () {
                    if ($('#notifications').is(':hidden')) {
                        $('#noti_Button').css('background-color', '#2E467C');
                    }
                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    else $('#noti_Button').css('background-color', '#FFF');
                });

                $('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

                return false;
            });

            // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
            $(document).click(function () {
                $('#notifications').hide();

                // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
                if ($('#noti_Counter').is(':hidden')) {
                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    $('#noti_Button').css('background-color', '#2E467C');
                }
            });

            $('#notifications').click(function () {
                return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
            });
        });
    </script>
  </body>
</html>