@import "../base/fonts";
@import "../base/variables";
@import "../base/queries";

main {
    span {
    a {
      background: $yellow;
      border-radius: 5px;
      padding: 0.5em 2em;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-family: "ibm_plex_bold";
      text-align: center;
      color: $black;
    }
  }

  h2 {
    font-family: 'vollkorn_bold';
    color: $pink;
    font-family: 1.2em;
  }
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1450px;
  padding-right: 10px;
  padding-left: 10px;
}

@include mq-tablet {
  main {
    padding-top: 6.5em;
  }
  .wrapper {
    margin: unset;
    max-width: unset;
    padding: unset;
  }

  section {
    padding: 0 1em;
  }
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

.row {
  &::after {
    display: unset;
    content: unset;
  }
  &::before {
    display: unset;
    content: unset;
  }
}

.row {
  margin: 0;
}
