@import "../base/fonts";
@import "../base/variables";
@import "../base/queries";

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1260px;
    padding-right: 10px;
    padding-left:  10px;
    height: 100vh;
}

@include wrapper-unset {
    .wrapper {
        margin: unset; 
        max-width: unset; 
        padding: unset;
    }

    section {
        padding: 0 1em;
    }
}

.row {
    display: flex;
}

.column {
    display: flex; 
    flex-flow: column wrap; 
}

.row {
    &::after {
        display: unset; 
        content: unset; 
    }
    &::before {
        display: unset; 
        content: unset; 
    }
}

.row {
    margin: 0; 
}