@import "../base/variables";
@import "../base/queries";
@import "../components/typography";
@import "../base/fonts";

$tableColumns: ("image", "isbn", "title", "year", "pages", "controls");
$tableColumnsWidth: ("233px", "150px", "150px", "150px", "150px", "150px");
$tableColumnCount: length($tableColumns);

.table {
  overflow: unset;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
  padding-top: 0;
  background-color: $grey;
  &-caption {
    font-family: "vollkorn_bold";
    color: $pink;
    font-size: 1.5em;
    margin: 1em 0;
    display: none;
  }

  &-head {
    background-color: $grey;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "image isbn title year pages controls";
    grid-gap: 1em;
    padding: 0.5em;
    border-bottom: 2px solid $black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &__item {
      font-family: "ibm_plex_bold";
      color: $black;
      text-transform: uppercase;
      @for $i from 1 to $tableColumnCount {
        &:nth-child(#{$i}) {
          width: unquote(nth($tableColumnsWidth, $i));
          grid-area: unquote(nth($tableColumns, $i));
        }
      }
    }
  }

  &-body {
    &__row {
      background-color: $grey;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 0.5em;
      grid-template-areas:
        "image isbn title year pages controls"
        "divider divider divider divider divider divider";
      grid-gap: 1em;
      padding: 0.5em;
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        hr {
          display: none;
        }
      }
      &-column {
        @for $i from 1 to $tableColumnCount {
          &:nth-child(#{$i}) {
            width: unquote(nth($tableColumnsWidth, $i));
            grid-area: unquote(nth($tableColumns, $i));
          }
        }
        padding-right: 0.5em;
        font-size: 0.9em;
        img {
          border-radius: 5px;
        }
        p {
          font-family: "ibm_plex_light";
          color: $black;
        }

        a {
          color: $black;
          font-family: "ibm_plex_regular";
          text-transform: uppercase;
          margin-bottom: 0.5em;
          text-decoration: none;
          padding: 0.2em 0.5em;
          border-radius: 5px;
          text-align: center;
          &:last-child {
            margin-bottom: none;
          }
        }

        .btn {
          &__show {
            background-color: $white;
          }

          &__edit {
            background-color: $yellow;
          }

          &__delete {
            background-color: $pink;
          }
        }
      }
      &-divider {
        grid-area: divider;
        width: 100%;
        border-width: 2px;
        border-color: black;
        margin: 0.5em 0;
      }
      &-buttons {
        display: flex;
        flex-flow: column wrap;
      }
    }
  }

  &-pagination {
  }
}

@include mq-tablet {
  body {
    overflow: scroll;
  }
}
