@import "../../base/variables";
@import "../../base/queries";
@import "../../components/typography";
@import "../../base/fonts";

.notifications {
  cursor: pointer;
  position: relative;
  &-head {
    img {
      width: 2em;
    }
    &__count {
      font-family: "ibm_plex_bold";
      background-color: #d97398;
      position: absolute;
      top: -6px;
      right: -7px;
      color: #0d0d0d;
      padding: 0.1em 0.2em;
      border-radius: 5px;
      &__hidden {
        visibility: hidden;
      }
    }
  }
  &-dropdown {
    width: 135px;
    display: none;
    position: absolute;
    z-index: 10;
    background: $grey;
    padding: 0.5em 1em;
    right: 0px;
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    &__open {
      display: block;
    }
    &__list {
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      &-item {
        margin: 1em 0;
        a {
          font-family: "ibm_plex_light";
          color: $black;
          transition: color ease 0.2s;
          white-space: pre;
          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}

@include mq-tablet {
  .notifications {
    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      &__count {
        top: -22px;
        right: -7px;
        background-color: $grey;
        color: $pink;
        margin: 1em 0;
      }
    }
  }
  &-dropdown {
    left: 0;
    border-top-right-radius: 5px;
    border-top-right-radius: unset;
    background: $grey;
    &__open {
      bottom: 45px;
    }
  }
}
