@import "../../base/variables";
@import "../../base/queries";
@import "../../components/typography";
@import "../../base/fonts";

.libraries {
    &__show {
        background: $light-grey;
        margin: 1em;
        padding: 1em;
        border-radius: 5px;
        &-header {
            h2 {
                font-family: 'vollkorn_bold';
                color: $pink;
                font-size: 2em;
                margin-bottom: 0.5em;
            }

            img {
                display: flex;
                margin: 0 auto;
                width: 50%;
                height: auto;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        &-body {
            margin: 1.5em 0;
            &__address {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;
                li {
                    margin: 1em;
                    strong {
                        font-family: 'ibm_plex_bold';
                        color: $black;
                        margin-bottom: 0.5em;
                    }
                    p {
                        font-family: 'ibm_plex_light';
                        color: $black;
                    }
                }
            }
        }

        &-map {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-options {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                &:nth-child(1) {
                    margin-right: 1em;
                }
            }
        }
    }
}